.keypad {
    max-width: 500px;
    margin: 20px auto;
    .key {
        margin: 5px;
        width: 40px;
        height: 50px;
        background: #eee;
        display: inline-block;
        border-radius: 6px;
        line-height: 50px;
        border: none;
        transition: all 0.3s ease-in;
        cursor: 'pointer';
        &.backspace {
            width: 100px;
        }
        &.enter {
            width: 120px;
        }
        &.green {
            background: #5ac85a;
            color: #fff;
        }
        &.yellow {
            background: #e2cc68;
            color: #fff;
        }
        &.grey {
            background: #a1a1a1;
            color: #fff;
        }
    }
}