.keypad {
    max-width: 500px;
    margin: 20px auto;
    .key {
        margin: 5px;
        width: 40px;
        height: 50px;
        background: #eee;
        display: inline-block;
        border-radius: 6px;
        line-height: 50px;
        border: none;
        transition: all 0.3s ease-in;
        cursor: "pointer";
        &.backspace {
            width: 90px;
        }
        &.enter {
            width: 140px;
        }
        &.green {
            background: #5ac85a;
            color: #fff;
        }
        &.yellow {
            background: #e2cc68;
            color: #fff;
        }
        &.grey {
            background: #a1a1a1;
            color: #fff;
        }
    }
}

.story-grid {
    .keypad {
        width: 100vw;
        .keyrow {
            display: flex;
            justify-content: center;
            .key {
                font-size: 1rem;
                padding: 0;
                line-height: 40px;
                border-radius: 50%;
                background: #fff;
                font-weight: bold;
                text-transform: uppercase;
                &.green {
                    background: #fff;
                    color: #719935;
                }
                &.yellow {
                    background: #fff;
                    color: #f1d900;
                }
                &.grey {
                    background: #fff;
                    color: #a1a1a1;
                }
            }
        }
    }
}
