.topBar {
    position: relative;
    a {
        text-decoration: none;
        position: absolute;
        top: .4rem;
        left: 1.5rem;
    }
    h2 {
        margin: 0;
        padding: 0;
        text-transform: capitalize;
        text-align: center;
    }
}